@page "/"
@using LibraryVisionExample
@inherits RenderableComponentBase

<h1>Hello, world!</h1>

Welcome to your new app.

@Entry.Plc. 

<SurveyPrompt Title="How is Blazor working for you?" />
